@font-face {
  font-family: "DaunPenhBody";
  font-display: swap;
  src: url("./fonts/DaunPenh.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Calibri";
  font-display: swap;
  src: url("./fonts/Calibri.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Calibri";
  font-display: swap;
  src: url("./fonts/Calibrib.ttf") format("truetype");
  font-weight: bold;
  font-style: bold;
}
